:root {
    --color-A: #1B51F2;
    --color-B: #2E83F2;
    --color-C: rgb(128, 178, 242);
    --color-D: #CEDEF2;
    --color-E: #F28B30;
    --font-A: "Stoic-Regular", serif;
    --font-B: "Sunborn-SansOne";
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
*{
    margin: 0;
    padding: 0;
}
/*__________________________________________________________________________*/
main{
    width: 100vw;
    background: rgb(255,255,255);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(47,128,250,1) 20%, rgba(0,10,255,1) 50%, rgba(47,128,250,1) 80%, rgba(255,255,255,1) 100%);
}
header {
    margin: 0;
    background-image: url("../images/LoginBCK.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}
h1 {
    margin: 0;
    padding-top: 13rem;
    position: relative;
    text-align: center;
    font-size: 5.938rem;
    font-family: var(--font-A), serif;
    font-weight: 300;
    color: white;
    opacity: 0.7;
}
.hotel-text {
    display: block;
    margin-top: -1.3rem;
    position: relative;
    text-align: center;
    font-size: 5rem;
    font-family: var(--font-A), serif;
    font-weight: 300;
    color: white;
    opacity: 0.9;
}
header h2 {
    margin-top: -1.4rem;
    position: relative;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    opacity: 0.7;
}
.Logo {
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 999;
}
.Logo img {
    margin-left: 35px;
    margin-top: -6px;
    width: 100px;
    height: auto;
    display: block;
}
/*__________________________________________________________________________*/
nav {
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 99;
}
nav ul {
    width: 100vw;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 60px;
}
nav a {
    height: 100%;
    padding: 0 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    opacity: 0.8;
    font-size: 2rem;
    font-family: var(--font-B), serif;
}
nav a:hover,
nav a:focus {
    color: white;
    opacity: 1;
    text-decoration: underline;
}
/* Это дерьмо, блядь, не работает.*/
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(128, 178, 242, 0.42);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 9999;
}
.sidebar li{
    width: 100%;
    z-index: 9999;
}
.sidebar a{
    width: 100%;
    z-index: 9999;
}
.menu-button{
    display: none;
}
svg{
    width: 150%;
    height: 100%;
    fill: white;
    stroke: white;
}
/*__________________________________________________________________________*/
#login-button-container {
    display: inline-block;
}
nav #login-button-container .login-btn {
    background-color: var(--color-D);
    height: 40px;
    margin-top: 8px;
    margin-right: 20px;
    font-family: "Times New Roman", serif !important;
    border: 2px solid white;
    opacity: 0.9;
    color: var(--color-A);
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 0 30px;
    transition: background-color 0.3s, transform 0.3s;
}
nav #login-button-container .login-btn:hover {
    background-color: var( --color-A);
    color: white;
    transform: translateY(-2px);
}

#login-button-container-sb {
    display: inline-block;
}
nav #login-button-container-sb .login-btn {
    background-color: var(--color-D);
    font-family: "Times New Roman", serif !important;
    border: 2px solid white;
    opacity: 0.9;
    color: var(--color-A);
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}
nav #login-button-container-sb .login-btn:hover {
    background-color: var( --color-A);
    color: white;
    transform: translateY(-2px);
}
.Reservation-button-container {
    text-align: center;
}
.reservation-btn {
    position: absolute;
    z-index: 2;
    margin-top: 16rem;
    margin-left: -4rem;
    padding: 10px 25px;
    background-color: var(--color-C);
    color: white;
    border: 2px var(--color-A) solid;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.5rem;
    transition: background-color 0.3s, transform 0.3s;
}
.reservation-btn:hover {
    background-color: var(--color-A);
    transform: translateY(-2px);
}
/*__________________________________________________________________________*/
.Reservation {
    background-color: rgba(154, 154, 154, 0.07);
    padding: 40px;
    border-radius: 20px;
    border: white 1px solid;
    margin: 40px auto;
    max-width: 600px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
.Reservation h2 {
    text-align: center;
    color: var(--color-B);
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.form-group {
    width: 570px;
    margin-bottom: 20px;
}
.form-group label[for="cat-name"],
.form-group label[for="arrival"],
.form-group label[for="departure"],
.form-group label[for="cats"] {
    color: white;
}
.form-group label {
    display: block;
    color: black;
    font-size: 1.1rem;
    margin-bottom: 8px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 15px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #363636;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.form-group.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-group.checkbox input {
    width: auto;
}
.form-group.checkbox label {
    margin-bottom: 0;
}
.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    background: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
.form-group input::placeholder,
.form-group textarea::placeholder {
    color: rgba(164, 164, 164, 0.7);
}
.Reservation button {
    width: 100%;
    margin-top: 18px;
    padding: 15px 30px;
    background: rgb(128, 178, 242);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.Reservation button:hover {
    background: rgba(0, 21, 255, 0.62);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.Reservation input[type="date"] {
    color-scheme: dark;
}
.form-note {
    color: rgb(63, 90, 255);
    font-size: 0.9rem;
    margin-top: 20px;
    text-align: left;
    font-style: italic;
    padding-left: 5px;
}
/*__________________________________________________________________________*/
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-title{
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
}
.modal-body p{
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
}
.close {
    color: #aaa;
    font-size: 28px;
}
.close:hover,
.close:focus {
    cursor: pointer;
    color: black;
}
.modal-footer {
    display: flex;
    justify-content: flex-end;
}
.close-btn {
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #0066ff;
}
.close-btn:hover {
    background-color: #0015ff;
}
/*__________________________________________________________________________*/
footer{
    position: relative;
    width: 100vw;
    margin: 0;
    height: 5rem;
    bottom: 0;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
.Footer {
    position: relative;
    text-align: center;
    font-size: 1rem;
    padding-top: 1.6rem;
}
footer p {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.7;
}
/*__________________________________________________________________________*/
@media screen and (max-width: 450px) {
    .Logo img {
        margin-left: 14px;
    }
    h1 {
        font-size: 4.5rem;
        padding-top: 10rem;
    }
    .hotel-text {
        margin-top: -1rem;
        font-size: 3.5rem;
    }
    header h2 {
        margin-top: -1rem;
        font-size: 1.3rem;
    }
    .login-btn {
        right: 10px;
        padding: 5px 15px;
        font-size: 12px;
    }
    .reservation-btn {
        margin-top: 18rem;
        margin-left: -4.4rem;
        font-size: 1.5rem;
    }
    footer p {
        font-size: 0.7rem;
    }
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    #login-button-container{
        display: none;
    }
    nav a{
        padding: 0 10px;
        font-size: 1rem;
    }
    .Reservation {
        width: 300px;
    }
    .form-group{
        width: 269px;
    }
}
@media screen and (min-width: 1450px){
    h1{
        padding-top: 15rem;
        font-size: 7rem;
    }
    .hotel-text {
        font-size: 5.5rem;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px){
    h1 {
        font-size: 4rem;
        padding-top: 15rem;
    }
    .hotel-text {
        font-size: 4rem;
    }
    nav a{
        padding: 0 40px;
        font-size: 1.5rem;
    }
}
@media (max-width: 768px) {
    .Reservation h2 {
        font-size: 2rem;
    }
}
@media screen and (min-width:310px) and (max-width: 400px){
    .Pricing {
        height: 1250px;
    }
    .About{
        height: 650px;
    }
    .sidebar{
        width: 70%;
    }
    .Logo img{
        width: 90px;
        margin-top: 4px;
        margin-left: 6px;
    }
    .Reservation {
        width: 200px;
    }
    .form-group{
        width: 180px;
    }
}